body {
    color: #212121;
    background-color:#607D8B;
    font-family: 'Inconsolata', monospace;
  }
  .wrapper {
    width: 940;
    margin: 20px auto 20px auto;
    background-color:#FFFFFF;
    border: 2px solid #BDBDBD;

  }
  .header {
    height: 160px;
    color: #FFFFFF;
    background-color:#E64A19;
    background-image: url("http://via.placeholder.com/940x160")
  }
  h1{
    text-indent: -9999px;
    margin: 0px;
  }
  .nav, .footer {
    color: #FFFFFF;
    background-color:#FF5722;
  }